*{
    background: linear-gradient(blue,white);
    color: #ffffff;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.p1 p ,div,.p1 b{
    background:#ffffff ;
    color: #000000;
    margin-bottom: 5px;
}
h1{
    color: #ff2f2f;
    background: #ffffff;
}
.alaram{
    width: 400px;
    height: 500px;
    background: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 8px;
}

@keyframes op{
    from{
        opacity: 0;
        transform: translateY(0px);
    }
    to{
        opacity: 1;
        transform: translateY(40px);
    }
}

.p1{
    background: #ffffff;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    animation: op 2s ease forwards;
}
.curr_time b{
    font-size: 32px;
    margin: 2% 0;
}
.p1 .curr_time{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
}

.curr_date h3{
    background: #ffffff;
    color: #000000;
}

.p1-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#time{
    font-size: 25px;
    color: #000000;
    background: #ffffff;
    padding: 2px;
    outline: none;
    border: none;
    box-shadow: 0 0 2px #000000;
    padding: 2px;
    border-radius: 3px;
}

#btn{
    background: #0000ff;
    color: #ffffff;
    width: 150px;
    height: 40px;
    padding: 2%;
    border-radius: 4px;
    border: none;
}

#btn:active{
    background: #0808bc;
}

audio{
    display: none;
}

.p2 {
    color: #000000;
    margin-top: 70px;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#a1{
    display: none;
    background: #ffffff;
    color: #000000;
    font-size: 20px;
    width: 80%;
    height: 40px;
    padding: 15px 0px 0px 0px ;
    border-radius: 4px;
    text-align: center;
}
